/* #ht {
  font-size: 2.2rem;
  font-weight: 400;
} */

#vote_div {
  /* border: 2px solid black; */
  /* height: 15%; */
  width: 90%;
  margin: 5% 5% 2% 5%;
  /* padding: 2% 0% 2% 0%; */
  /* margin-top : 5%; */
}
#vote_btn_div {
  margin-top: 0.5%;
  /* display: flex; */
  /* border: 2px solid red; */
  /* justify-content: center; */
}
/* 
#ques_div {
  /* padding-left: 4%; */

#ques {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: -0.5%;
}

#auth_name {
  font-size: 0.8rem;
}

table {
  width: 100%;
}

tr,
td {
  width: 100%;
  height: 15%;
  /* margin: 2% 0% 2% 0%; */
}
#ques_container {
  /* border: 2px solid  #000000; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1% 0% 1% 0%;
  padding: 1% 0% 1% 0%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#vote_btn {
  margin-right: 0px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
  border-radius: 4px;
  transition: 0.3s;
}
#vote_btn:hover {
  background-color: green;
  color: white;
}
@media (min-width: 576px) {
  #vote_btn {
    width: 100%;
    height: 40px;
  }
  #ques_container {
    height: 100px;
    align-items: center;
  }
}
@media (max-width: 576px) {
  #vote_btn {
    width: 20%;
  }
}
